<div
  class="hamburger-menu-wrapper"
  cdkTrapFocus
  [cdkTrapFocusAutoCapture]="true"
>
  <div class="hamburger-header">
    <button
      class="close-btn"
      cdkFocusInitial
      mat-icon-button
      aria-label="Close menu"
      type="button"
      (click)="detachOverlay()"
      [attr.data-automation]="'close-hamburger-menu-btn'"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="hamburger-content">
    <lib-navbar [config]="navConfig"></lib-navbar>
  </div>
  <div class="hamburger-footer"></div>
</div>
